@import 'style';

:export {
  zIndex-stepper: $zIndex-stepper;
  zIndex-speedDial: $zIndex-speedDial;
  zIndex-appBar: $zIndex-appBar;
  zIndex-drawer: $zIndex-drawer;
  zIndex-modal: $zIndex-modal;
  zIndex-snackbar: $zIndex-snackbar;
  zIndex-tooltip: $zIndex-tooltip;
  main-mx-xs: $main-mx-xs;
  main-mx-sm: $main-mx-sm;
  main-mx-base: $main-mx-base;

  // Background
  bg-base: $bg-base;
  bg-dialog: $bg-dialog;
  bg-light: $bg-light;

  // Backdrop
  overlay: $overlay;

  // Paper
  paper-mx-mobile: $paper-mx-mobile;
  paper-mx-base: $paper-mx-base;

  // Tabs
  tabs-text: $tabs-text;
  tabs-selected-bar: $tabs-selected-bar;
  tabs-selected-text: $tabs-selected-text;
  tabs-border: $tabs-border;

  // Card
  card-border: $card-border;
  card-border-moTop: $card-border-moTop;
  card-border-moBottom: $card-border-moBottom;
  card-shadow: $card-shadow;

  // ToggleButton
  toggleButton-selected-bg: $toggleButton-selected-bg;
  toggleButton-selected-text: $toggleButton-selected-text;
  toggleButton-bg: $toggleButton-bg;
  toggleButton-text: $toggleButton-text;
  toggleButton-border: $toggleButton-border;

  // Link
  link-text: $link-text;
  link-underline: $link-underline;
}