@import '/src/styles/vars/index';

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @media (min-width: $breakpoint-sm) {
    font-size: 15px;
  }
  @media (min-width: $breakpoint-md) {
    font-size: 16px;
  }
}
