@import '/src/styles/vars/index';

.root {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 240px);
  @media (min-width: $breakpoint-sm) {
    min-height: $px-192;
  }
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $primary-grayish-400;
}