@import '/src/styles/vars/index';

.root {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}