@import 'style';

:export {
  breakpoint-xs: $breakpoint-xs;
  breakpoint-sm: $breakpoint-sm;
  breakpoint-md: $breakpoint-md;
  breakpoint-lg: $breakpoint-lg;
  breakpoint-xl: $breakpoint-xl;

  radius-px: $radius-px;
  radius-s: $radius-s;
  radius-m: $radius-m;
  radius-l: $radius-l;
  radius-xl: $radius-xl;
  radius-max: $radius-max;

  text-3xs: $text-3xs;
  text-2xs: $text-2xs;
  text-xs: $text-xs;
  text-xsLg: $text-xsLg;
  text-sm: $text-sm;
  text-smLg: $text-smLg;
  text-base: $text-base;
  text-md: $text-md;
  text-lg: $text-lg;
  text-xl: $text-xl;
  text-2xl: $text-2xl;
  text-3xl: $text-3xl;
  text-4xl: $text-4xl;
  text-5xl: $text-5xl;
  text-smaller-s: $text-smaller-s;
  text-smaller-m: $text-smaller-m;
  text-smaller-l: $text-smaller-l;

  space-0: $space-0;
  space-px: $space-px;
  space-0_5: $space-0_5;
  space-1: $space-1;
  space-1_5: $space-1_5;
  space-2: $space-2;
  space-2_5: $space-2_5;
  space-3: $space-3;
  space-3_5: $space-3_5;
  space-4: $space-4;
  space-5: $space-5;
  space-6: $space-6;
  space-7: $space-7;
  space-8: $space-8;
  space-9: $space-9;
  space-10: $space-10;
  space-11: $space-11;
  space-12: $space-12;
  space-14: $space-14;
  space-16: $space-16;
  space-20: $space-20;
  space-24: $space-24;
  space-28: $space-28;
  space-32: $space-32;
  space-36: $space-36;
  space-40: $space-40;
  space-44: $space-44;
  space-48: $space-48;
  space-52: $space-52;
  space-56: $space-56;
  space-60: $space-60;
  space-64: $space-64;
  space-72: $space-72;
  space-80: $space-80;
  space-96: $space-96;

  px-2: $px-2;
  px-4: $px-4;
  px-6: $px-6;
  px-8: $px-8;
  px-10: $px-10;
  px-12: $px-12;
  px-14: $px-14;
  px-16: $px-16;
  px-20: $px-20;
  px-24: $px-24;
  px-28: $px-28;
  px-32: $px-32;
  px-36: $px-36;
  px-40: $px-40;
  px-44: $px-44;
  px-48: $px-48;
  px-56: $px-56;
  px-64: $px-64;
  px-72: $px-72;
  px-80: $px-80;
  px-96: $px-96;
  px-112: $px-112;
  px-128: $px-128;
  px-144: $px-144;
  px-160: $px-160;
  px-176: $px-176;
  px-192: $px-192;
  px-208: $px-208;
  px-224: $px-224;
  px-240: $px-240;
  px-256: $px-256;
  px-288: $px-288;
  px-320: $px-320;
  px-384: $px-384;
  px-448: $px-448;
  px-512: $px-512;
  px-576: $px-576;
  px-640: $px-640;
  px-704: $px-704;
  px-768: $px-768;
  px-832: $px-832;
  px-896: $px-896;
  px-960: $px-960;

  main-max-width: $main-max-width;
  sidebar-size: $sidebar-size;
  appbar-size: $appbar-size;
  bottom-size: $bottom-size;
}