$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 1080px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

$radius-px: 1px;
$radius-s: 0.25rem;
$radius-m: 0.5rem;
$radius-l: 1rem;
$radius-xl: 2rem;
$radius-max: 999rem;

$text-3xs: 0.65rem; // 10px;
$text-2xs: 0.6875rem; // 11px;
$text-xs: 0.75rem; // 12px;
$text-xsLg: 0.8125rem; // 13px;
$text-sm: 0.875rem; // 14px;
$text-smLg: 0.9375rem; // 15px;
$text-base: 1rem; // 16px;
$text-md: 1.0625rem; // 17px;
$text-mdLg: 1.09375rem; // 17px;
$text-lg: 1.125rem; // 18px;
$text-xl: 1.25rem;
$text-xlLg: 1.375rem;
$text-2xl: 1.5rem;
$text-2xlLg: 1.75rem;
$text-3xl: 1.875rem;
$text-3xlLg: 2rem;
$text-4xl: 2.25rem;
$text-4xlLg: 2.5rem;
$text-5xl: 2.75rem;
$text-5xlLg: 3rem;
$text-6xl: 3.5rem;
$text-smaller-s: 0.65em;
$text-smaller-m: 0.75em;
$text-smaller-l: 0.85em;

// spacing @see：https://tailwindcss.com/docs/customizing-spacing
$space-0: 0px;
$space-px: 0.0625rem;
$space-0_5: 0.125rem; // 2px;
$space-1: 0.25rem; // 4px;
$space-1_5: 0.375rem; // 6px;
$space-2: 0.5rem; // 8px;
$space-2_5: 0.625rem; // 10px;
$space-3: 0.75rem; // 12px;
$space-3_5: 0.875rem; // 14px;
$space-4: 1rem; // 16px;
$space-5: 1.25rem; // 20px;
$space-6: 1.5rem; // 24px;
$space-7: 1.75rem; // 28px;
$space-8: 2rem; // 32px;
$space-9: 2.25rem; // 36px;
$space-10: 2.5rem; // 40px;
$space-11: 2.75rem; // 44px;
$space-12: 3rem; // 48px;
$space-14: 3.5rem; // 56px;
$space-16: 4rem; // 64px;
$space-20: 5rem; // 80px;
$space-24: 6rem; // 96px;
$space-28: 7rem; // 112px;
$space-32: 8rem; // 128px;
$space-36: 9rem; // 144px;
$space-40: 10rem; // 160px;
$space-44: 11rem; // 176px;
$space-48: 12rem; // 192px;
$space-52: 13rem; // 208px;
$space-56: 14rem; // 224px;
$space-60: 15rem; // 240px;
$space-64: 16rem; // 256px;
$space-72: 18rem; // 288px;
$space-80: 20rem; // 320px;
$space-96: 24rem; // 284px;

$px-1: 0.6125rem;
$px-2: 0.125rem;
$px-4: 0.25rem;
$px-6: 0.375rem;
$px-8: 0.5rem;
$px-10: 0.625rem;
$px-12: 0.75rem;
$px-14: 0.875rem;
$px-16: 1rem;
$px-20: 1.25rem;
$px-24: 1.5rem;
$px-28: 1.75rem;
$px-32: 2rem;
$px-36: 2.25rem;
$px-40: 2.5rem;
$px-44: 2.75rem;
$px-48: 3rem;
$px-56: 3.5rem;
$px-64: 4rem;
$px-72: 4.5rem;
$px-80: 5rem;
$px-88: 5.5rem;
$px-96: 6rem;
$px-112: 7rem;
$px-128: 8rem;
$px-144: 9rem;
$px-160: 10rem;
$px-176: 11rem;
$px-192: 12rem;
$px-208: 13rem;
$px-224: 14rem;
$px-240: 15rem;
$px-256: 16rem;
$px-288: 18rem;
$px-320: 20rem;
$px-384: 24rem;
$px-448: 28rem;
$px-512: 32rem;
$px-576: 36rem;
$px-640: 40rem;
$px-704: 44rem;
$px-768: 48rem;
$px-832: 52rem;
$px-896: 56rem;
$px-960: 60rem;

$main-max-width: 960px;
$sidebar-size: 260px;
$appbar-size: 60px;
$bottom-size: $px-64;
